.navigation {
    text-align: center;
}

.navigation__list  {
    padding-inline-start: 0px;
}
.navigation__header {
    color: hsl(271, 27%, 50%);
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: 'PT Sans Narrow';
    padding-top: 25px;
    text-align: center;
}

.navigation__listItem {
    list-style-type: none;
    max-width: 400px;
    padding: 10px;
    text-align: center;
    background-color: hsla(272, 27%, 75%, 0.92);
    border-bottom: #eee 2px solid;
    margin: 0px auto;

}

.navigation__listItem--decoration {
    text-decoration: none;
    color: #eee;
}

.navigation__picture {
    width: 200px;
    box-shadow: 7px 18px 73px 10px #947f739e;
    border: 1px solid grey;
    box-sizing: border-box;
    outline: 2px solid rgba(252, 193, 161, 0.62);
}

.navigation__listItem--decoration:visited {
    color: #eee;
}

.navigation__listItem--decoration:focus {
    outline: 2x solid currentColor;
}
